.countryCard {
	width: 100%;
	max-width: 350px;
	margin: 10px auto;
	border: px solid #ccc;
	border-radius: 8px;
}

.countryFlag {
	width: 140px;
	border-radius: 8px 0 0 8px;
}

.countryInfo {
	margin-bottom: 5px;
}

.wrapper {
	padding: 15px;
}
