.countryCard {
	width: 100%;
	max-width: 300px;
	border-radius: 15px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.countryFlag {
	height: 160px;
	object-fit: cover;
}

.cardContent {
	padding: 16px;
}

.title {
	margin-bottom: 8px;
}

.countryInfo {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 4px;
}

.icon {
	font-size: 16px;
}
